In [44]:
# Import modules
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Import modules for machine learning
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
from sklearn.metrics import confusion_matrix

In [45]:
df = pd.read_csv("Lab2\Data2\Titanic_cleaned_data.csv", sep=',')

df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,HasCabin,Title,CatAge,CatFare,Embarked_Q,Embarked_S,Embarked_C,Title_Mr,Title_Miss,Title_Mrs,Title_Unique
0,1,0.0,3,male,22.000000,1,0,False,Mr,0,0,False,True,False,True,False,False,False
1,2,1.0,1,female,38.000000,1,0,True,Mrs,3,3,False,False,True,False,False,True,False
2,3,1.0,3,female,26.000000,0,0,False,Miss,1,1,False,True,False,False,True,False,False
3,4,1.0,1,female,35.000000,1,0,True,Mrs,2,3,False,True,False,False,False,True,False
4,5,0.0,3,male,35.000000,0,0,False,Mr,2,1,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,NaN,3,male,29.881138,0,0,False,Mr,1,1,False,True,False,True,False,False,False
1305,1306,NaN,1,female,39.000000,0,0,True,Unique,3,3,False,False,True,False,False,False,True
1306,1307,NaN,3,male,38.500000,0,0,False,Mr,3,0,False,True,False,True,False,False,False
1307,1308,NaN,3,male,29.881138,0,0,False,Mr,1,1,False,True,False,True,False,False,False
1308,1309,NaN,3,male,29.881138,1,1,False,Master,1,2,False,False,True,False,False,False,False